<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lms</title>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/vendors.css">
    <link rel="stylesheet" href="~/css/main.css">


</head>


<body class="preloader-visible" data-barba="wrapper">
    <!-- preloader start -->
    <div class="preloader js-preloader">
        <div class="preloader__bg"></div>
    </div>
    <!-- preloader end -->
    <main class="main-content container" style="margin-top:8rem;">
        <header data-anim="fade" data-add-bg="bg-dark-1" class="header -type-1 js-header">


            <div class="header__container">
                <div class="row justify-between items-center">

                    <div class="col-auto">
                        <div class="header-left">

                            <div class="header__logo ">
                                <a data-barba href="/">
                                    <img src="/img/general/logo.svg" alt="logo">

                                </a>



                            </div>




                        </div>
                    </div>


                    <div class="header-menu js-mobile-menu-toggle   ">
                        <div class="header-menu__content">
                            <div class="mobile-bg "></div>


                            <div class="menu js-navList ">
                                <div class="menu__nav text-white -is-active">
                                    <div class="">
                                        <a href="/">Home</a>
                                    </div>
                                    <div class="">
                                        <a href="/course">Courses</a>

                                    </div>
                                    <div class="">
                                        <a href="/home/aboutus">About Us</a>
                                    </div>
                                    <div class="">
                                        <a href="/home/contact">Contact</a>
                                    </div>
                                </div>
                            </div>

                            <div class="mobile-footer px-20 py-20 border-top-light js-mobile-footer">
                                <div class="mobile-footer__number">
                                    <div class="text-17 fw-500 text-dark-1">Call us</div>
                                    <div class="text-17 fw-500 text-purple-1">800 388 80 90</div>
                                </div>

                                <div class="lh-2 mt-10">
                                    <div>329 Queensberry Street,<br> North Melbourne VIC 3051, Australia.</div>
                                    <div>hi@educrat.com</div>
                                </div>

                                <div class="mobile-socials mt-10">

                                    <a href="#" class="d-flex items-center justify-center rounded-full size-40">
                                        <i class="fa fa-facebook"></i>
                                    </a>

                                    <a href="#" class="d-flex items-center justify-center rounded-full size-40">
                                        <i class="fa fa-twitter"></i>
                                    </a>

                                    <a href="#" class="d-flex items-center justify-center rounded-full size-40">
                                        <i class="fa fa-instagram"></i>
                                    </a>

                                    <a href="#" class="d-flex items-center justify-center rounded-full size-40">
                                        <i class="fa fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>

                        <div class="header-menu-close" data-el-toggle=".js-mobile-menu-toggle">
                            <div class="size-40 d-flex items-center justify-center rounded-full bg-white">
                                <div class="icon-close text-dark-1 text-16"></div>
                            </div>
                        </div>

                        <div class="header-menu-bg"></div>
                    </div>


                    <div class="col-auto">
                        <div class="header-right d-flex items-center">
                            <div class="header-right__icons text-white d-flex items-center">


                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="nav-item align-items-center">
                                        <a class="nav-link d-inline-block text-white" href="?&ui-culture=ar-SA">العربية</a>

                                    </div>
                                    <a href="/identity/account/register" class="button -sm -white text-dark-1 ml-30">Welcome</a>

                                }
                                else
                                {
                                    <div class="nav-item align-items-center">
                                        <a class="nav-link d-inline-block text-white" href="?&ui-culture=ar-SA">العربية</a>

                                    </div>
                                    <div class="header-right__buttons d-flex items-center ml-30 md:d-none">
                                        <a href="/identity/account/login" class="button -underline text-white">Log in</a>
                                        <a href="/identity/account/register" class="button -sm -white text-dark-1 ml-30">Sign up</a>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        @RenderBody()
    </main>

    <script src="https://cdn.tiny.cloud/1/wnz7131xn0vec3u4r9xd1ulg2yldexr3xbwof179ywdyrt6g/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="/js/vendors.js"></script>
    <script src="/js/main.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<style>

    input {
        border: 1px solid #ccc !important;
    }

</style>