@model LMS.Models.ViewModel.UserDetailsDto



    <h1 style="margin-top: 10rem;">Testing User Details</h1>

    <h1>@Model.UserName</h1>
    <h1>@Model.ProfilePicture</h1>
    <img src="@Model.ProfilePicture" alt="Profile Picture" />


