@model LMS.Models.ViewModel.CreateUserWithRoleViewModel





<div class="container">
    <form method="post" asp-action="CreateUserWithRole">
        <div style="margin-top: 10rem;">
            <label>Role Name</label>
            <input type="text" name="RoleName" value="@Model?.RoleName" style="border: 1px solid black;" />
        </div>
        <div class="mt-2">
            <label>User Name</label>
            <input type="text" name="UserName" value="@Model?.UserName" style="border: 1px solid black;" />
        </div>
        <div class="mt-2">
            <label>Password</label>
            <input type="password" name="Password" value="@Model?.Password" style="border: 1px solid black;" />
        </div>
        <div class="mt-2">
            <label>Email</label>
            <input type="email" name="Email" value="@Model?.Email" style="border: 1px solid black;" />
        </div>
        <button class="btn btn-primary mt-2 mb-2" type="submit">Create User</button>
    </form>
</div>
