@model LMS.Models.Certificate

@{
    Layout = "_Layout";
}



<div style="margin-top: 8rem; margin-bottom: 10rem;" class="container">
    <h1>Certificate of Completion</h1>
    <hr />

    <form asp-controller="Course" asp-action="Certificate" method="post">
        @Html.AntiForgeryToken()

        <input asp-for="Id" type="hidden" />
        <input asp-for="CourseId" type="hidden" />
        <input asp-for="ApplicationUserId" type="hidden" />

        <div class="form-group">
            <label asp-for="CertifiedName"></label>
            <input asp-for="CertifiedName" class="form-control input-box" />
        </div>
        <input type="submit" value="Generate Certificate" class="btn custom-btn mt-2" />
    </form>
</div>


<style>
    /* Define the border style for the input box */
    .input-box {
        border: 2px solid #6f42c1 !important;
        padding: 8px; /* Add some padding for better appearance */
        font-size: 16px; /* You can adjust the font size as needed */
    }

    /* Custom CSS to change the button color */
    .custom-btn {
        background-color: #6440FB;
        border-color: #6440FB;
        color: white; /* Change the text color to contrast the background */
        padding: 8px 20px; /* Add some padding to the button */
        font-size: 16px; /* You can adjust the font size as needed */
        cursor: pointer; /* Show a pointer cursor when hovering over the button */
    }
</style>